@import 'libs/_bootstrap-reboot.min.scss';
@import 'libs/_bootstrap-grid.min.sass';
@import 'libs/_font.scss';
@import 'libs/_slick.scss';
@import 'libs/_animate.scss';

@import 'base/_variables.scss';
@import 'base/_animations.scss';
@import 'base/_mixins.scss';

@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_advantage.scss';
@import 'blocks/_titles.scss';
@import 'blocks/_consultation.scss';
@import 'blocks/_forms.scss';
@import 'blocks/_carousel.scss';
@import 'blocks/_catalog.scss';
@import 'blocks/_reviews.scss';
@import 'blocks/_footer.scss';
@import 'blocks/_modal.scss';
@import 'blocks/_pageup.scss';
@import '_media.scss';
    
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
    
.container {
    max-width: 950px;
    margin: 0 auto;
}



