.advantages {
    padding: 40px 0 65px 0;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__subtitle {
        color: #0D0D0D;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin: 32px 0 22px 0;
    }
    &__descr {
        color: #0D0D0D;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1s ease infinite;
        }
    }
}